@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}



/* GLOBAL STYLES */
body{
  display: grid;
  place-items: center;
  height: 50vh;
}

.main{
	width : 90%;
}

.head{
	width:100%;
	position: relative;
	place-items: left;
	display:block;
	padding-left: 0px;
	padding-right:0px;
	padding-top:30px;
	
}


.card_title {
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: white;
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.allcard {
  float: left;
  display: grid;
  place-items: left;
  width: 80vw;
  max-width: 19.875rem;
  height: 25.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin: 15px;
  
}

.head h3{
	color:#00665b;
	font-size: xx-large;
}
.head h5{
	font-size: medium;
}
.full{
	color:#00665b;
}

.full{font-size:x-large;
	font-weight: bold;
	}

.product{
	margin:15px 15px 100px;
	
}

.text{
	font-size:medium;
	color:black;
}
.close-icon{
	font-size:medium;
	color:black;
}
.expand-icon{
	font-size:medium;
	color:black;
	
}

.allcard > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  width: 80vw;
  max-width: 19.875rem;
  height: 25.125rem;
  overflow: hidden;
  image-rendering : auto;
  
}

.card__content {
  --flow-space: 0.9375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self:flex-end;
  height: 50%;
  padding: 8% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 2.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(60%);
    transition: transform 500ms ease-out;
    transition-delay: 100ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 100ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 600ms ease-out, opacity 600ms ease-out;
  }

  .allcard:hover,
  .allcard:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .allcard:hover .card__content,
  .allcard:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .allcard:focus-within .card__content {
    transition-duration: 0ms;
  }

  .allcard:hover .card__background,
  .allcard:focus-within .card__background {
    transform: scale(1.3);
  }

  .allcard:hover .card__content--container > :not(.card__title),
  .allcard:hover .card__button,
  .allcard:focus-within .card__content--container > :not(.card__title),
  .allcard:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 100ms;
  }

  .allcard:hover .card__title::after,
  .allcard:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 100ms;
  }
}

.search {
	width: 220px;
	height: 40px;
	font-size: 18px;
	padding-bottom: 4px;
	border-radius: 3px;
	border: 2px solid #00665b;
	margin-top: 4px;
}

.search_button {
	background-color:#00665b;
	color:white;
	height: 40px;
	padding-top: 4px;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 70px;
}

.search_btn{
	width : 60px;
	background-color:#00665b;
	color:white;
	height: 40px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.search_table{
	width:75%;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.multiselect {
	width: 170px;
	height: 40px;
	font-size: 18px;
	padding-bottom: 4px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	outline: none;
	font-size: 18px;
}

.multiselect:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.multiselect.active {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 1px solid transparent;
}

.multiselect>.title {
	cursor: pointer;
	height: 16px;
	padding: 6px;
}

.multiselect>.title>.text {
	max-width: 130px;
	max-height: 25px;
	display: block;
	float: left;
	overflow: hidden;
	line-height: 1.3em;
}

.multiselect>.title>.expand-icon, .multiselect>.title>.close-icon {
	float: right;
	font-weight: 700;
	transition: 0.2s;
	display: none;
}

.multiselect.selection>.title>.expand-icon {
	display: none;
}

.multiselect>.title>.expand-icon, .multiselect.selection>.title>.close-icon
	{
	display: block;
}

.multiselect>.title>.close-icon:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: rgb(203, 32, 32);
	color: #fff;
}

.multiselect>.container {
	max-height: 200px;
	overflow: auto;
	margin-top: 20px;
	margin-left: -1px;
	width: 170px;
	transition: 0.2s;
	position: absolute;
	z-index: 99;
	background: #fff;
}

.multiselect.active>.container {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0;
}

.multiselect.active:hover>.container {
	border-color: rgba(0, 0, 0, 0.3);
}

.multiselect>.container>option {
	display: none;
	padding: 5px;
	cursor: pointer;
	transition: 0.2s;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.multiselect>.container>option.selected {
	background: rgb(122, 175, 233);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #fff;
}

.multiselect>.container>option:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #000;
}

.multiselect.active>.container>option {
	display: block;
}


.footer{
	width:100%;
	
}

