@charset "UTF-8";

.top_img {
	width: 90%;
	border-radius: 10px;
}

.right_box {
	margin: 0;
}

.starpoint_wrap {
	display: inline-block;
}

.starpoint_box {
	position: relative;
	background:
		url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0
		no-repeat;
	font-size: 0;
}

.starpoint_box .starpoint_bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	background:
		url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0
		-20px no-repeat;
	pointer-events: none;
}

.starpoint_box .label_star {
	display: inline-block;
	width: 10px;
	height: 18px;
	box-sizing: border-box;
}

.starpoint_box .star_radio {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg {
	width: 10%;
}

.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg {
	width: 20%;
}

.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg {
	width: 30%;
}

.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg {
	width: 40%;
}

.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg {
	width: 50%;
}

.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg {
	width: 60%;
}

.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg {
	width: 70%;
}

.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg {
	width: 80%;
}

.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg {
	width: 90%;
}

.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
	.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg {
	width: 100%;
}

.blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.a_info {
	font-size: 15px;
	font-weight: bold;
	color: #555555;
}

.sell {
	font-size: 15px;
	font-weight: bold;
	color: #555555;
}

.price {
	font-size: 25px !important;
}

.expi {
	font-size: 15px;
	font-weight: bold;
	color: #50bcdf;
}

.gs {
	width: 10%;
	color: gray;
}

.progress {
	width: 90%;
	height: 24px !important;
	padding: 6px;
	color: yellow !important;
	background-color: white !important;
}

.g {
	display: flex;
}

.title_1 {
	font-size: 22px;
	font-weight: bold;
	margin: 40px 0;
}

.sp_g{
	font : bold;
}

.btn-primary {
	background: white !important;
	border: 1px solid #c8c8c8 !important;
	color: gray !important;
}

.center:hover {
	color: black !important;
}

.left {
	width: 25% !important;
	color: gray;
}

.center {
	width: 50% !important;
	color: black;
}

.right {
	width: 25% !important;
	color: gray;
}

.number {
	width: 100%;
	height: 38px;
	border: 1px solid #c8c8c8;
	line-height: 38px;
	text-align: center;
	margin-bottom: 20px;
}

.content {
	width: 100%;
	white-space: normal;
	min-height: 100px;
}

.company {
	text-align: center;
}

.com_text {
	font-size: 20px;
	color: #666666;
}

.shopping_basket:hover {
	color: black !important;
}

.shopping:hover {
	color: black !important;
}

.rr_box {
	width: 320px;
	position: fixed;
	top: 150px;
}

.com_text:hover {
	cursor: pointer;
	font-weight: bold;	
}